<%- include("../partials/header") %> 

<!-- HERO SECTION PART START -->
<div class="hero_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="herosection_content">
                    <h2 class="text-light">Track Order</h2>
                    <a href="/" class="btn border-radius-0 border-transparent">
                        Home <i class="icofont-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HERO SECTION PART END-->

<!-- TRACK ORDER PART START -->
<div class="track_order mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Track Your Order</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Billing Information</h6>
                                <address>
                                    <strong><%- order.name.firstName %> <%- order.name.lastName %></strong><br>
                                    <%- order.address %><br>
                                    <%- order.email %><br>
                                    <%- order.phone %><br>
                                    <%- order.city %>
                                </address>
                            </div>
                            <div class="col-md-4">
                                <h6>Shipping Information</h6>
                                <address>
                                    <strong><%- order.shippingInfo.name.firstName %> <%- order.shippingInfo.name.lastName %></strong><br>
                                    <%- order.shippingInfo.address %><br>
                                    <%- order.shippingInfo.email %><br>
                                    <%- order.shippingInfo.phone %><br>
                                    <%- order.shippingInfo.city %>
                                </address>
                            </div>
                            <div class="col-md-4">
                                <h6>Payment Information</h6>
                                <address>
                                    <strong>Payment Method:</strong><br>
                                    <%- order.paymentMethod %><br>
                                    <% if (order.paymentDetails) { %>
                                        <strong>Payment Detail:</strong><br>
                                        <%- order.paymentDetails.cardType %> ending in <%- order.paymentDetails.last4 %><br>
                                        <%- order.paymentDetails.bank %><br> 
                                        <% } else { %>
    
                                        <% } %>
                                    <strong>Payment Status:</strong><br>
                                    <%- order.paymentStatus %><br>
                                    <strong>Payment Reference:</strong><br>
                                    <%- order.paymentId %><br>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="text-success">Order Details</h6>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(order.products, function(product) { %> 
                                            <tr>
                                                <td>
                                                    <img src="<%- product.item.image.url %>" alt="" class="img-fluid" style="width: 50px; height: 50px;">
                                                    <%- product.item.name %>
                                                </td>
                                                <td><%- product.qty %></td>
                                                <td>₦<%- product.item.price.toLocaleString() %></td>
                                                <td>₦<%- product.price.toLocaleString() %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Order Total</strong></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>₦<%- order.amount.toLocaleString() %></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Your Order Status</h6>
                                <div style="display: inline-block;">
                                    <span><p style="font-size: 32px;"><strong><%- order.status %></strong></p></span>
                                    <!-- cancel order -->
                                    <% if (order.status === 'processing' || order.status === 'pending') { %>
                                        <span><button data-toggle="modal" data-target="#cancel_<%- order._id %>" class="btn custom-btn mb-1 mt-1">Cancel order</button></span>
                                    <% } %>
                                    <!-- print invoice button if order status is delivered -->
                                    <% if (order.status === 'delivered') { %>
                                        <span><a href="/print-invoice/<%- order._id %>" class="btn custom-btn mb-1" target="_blank">Print Invoice</a></span>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6>Order Date</h6>
                                <p><strong><%- order.createdAt %></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TRACK ORDER PART END -->

<div class="modal fade" id="cancel_<%- order._id %>" tabindex="-1" role="dialog" aria-labelledby="order-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-md pt-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order-modal-label">Order #<%- order.orderNumber %> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="text-success">Cancel Order</h6>
                        <!-- form to get reason for cancelling order -->
                        <form id="cancel_<%- order._id %>" action="/cancel-order/<%- order._id %>" method="POST">
                            <div class="form-group">
                                <label for="reason">Reason for Cancellation</label>
                                <textarea class="form-control" id="reason" name="reason" rows="3" 
                                placeholder="State your reason for cancellation here, your request will be processed and we'll get back to you shortly.. e.g Accidental Order, Already bought from a nearby pharmacy store...etc"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">Cancel My Order</button>
                        </form>

                        <script type="text/javascript">
                            // cancel order
                            document.getElementById("cancel_<%- order._id %>").addEventListener("submit", function(e) {
                            var confirmation = confirm('Are you sure you wish to cancel this order? - ' + 
                                '#<%- order.orderNumber %>?' + ' ' + ' This action will not be reversible.');
                            if (!confirmation) {
                                e.preventDefault();
                                return false;
                            }
                            });

                        </script>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> 